<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnhancePoE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EnhancePoE.Properties.Settings>
            <setting name="accName" serializeAs="String">
                <value />
            </setting>
            <setting name="hideOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotkeyToggle" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="HotkeyRefresh" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="Sets" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorBoots" serializeAs="String">
                <value>#FF0018FF</value>
            </setting>
            <setting name="ColorGloves" serializeAs="String">
                <value>#FF04FF00</value>
            </setting>
            <setting name="ColorHelmet" serializeAs="String">
                <value>#FFF8FF04</value>
            </setting>
            <setting name="ColorChest" serializeAs="String">
                <value>#FFDD00FF</value>
            </setting>
            <setting name="ColorWeapon" serializeAs="String">
                <value>#FF00DCFF</value>
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="League" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyStashTab" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="TopStashTabOverlay" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="LeftStashTabOverlay" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="XStashTabOverlay" serializeAs="String">
                <value>641</value>
            </setting>
            <setting name="YStashTabOverlay" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="OpacityStashTab" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorRing" serializeAs="String">
                <value>#FFFF0303</value>
            </setting>
            <setting name="ColorStash" serializeAs="String">
                <value>#96F90000</value>
            </setting>
            <setting name="ColorBelt" serializeAs="String">
                <value>#FFFF0303</value>
            </setting>
            <setting name="LootfilterLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LootfilterActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExaltedRecipe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StashTabBackgroundColor" serializeAs="String">
                <value>#14FFFFFF</value>
            </setting>
            <setting name="ColorAmulet" serializeAs="String">
                <value>#FFFF0303</value>
            </setting>
            <setting name="StashtabMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabName" serializeAs="String">
                <value />
            </setting>
            <setting name="StashTabIndices" serializeAs="String">
                <value />
            </setting>
            <setting name="TabHeaderWidth" serializeAs="String">
                <value>20.4</value>
            </setting>
            <setting name="TabHeaderGap" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TabMargin" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="HighlightMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FillWithChaos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowItemAmount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RingsAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmuletsAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BeltsAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BootsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlovesAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelmetsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChestsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WeaponsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeIdentified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChaosRecipe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegalRecipe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFetch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLocation" serializeAs="String">
                <value />
            </setting>
        </EnhancePoE.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>