<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnhancePoE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EnhancePoE.Properties.Settings>
            <setting name="accName" serializeAs="String">
                <value />
            </setting>
            <setting name="hideOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotkeyToggle" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="HotkeyRefresh" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Sets" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorBoots" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorGloves" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorHelmet" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorChest" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorWeapon" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="League" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyStashTab" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="TopStashTabOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftStashTabOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XStashTabOverlay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="YStashTabOverlay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OpacityStashTab" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorJewellery" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorStash" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBelt" serializeAs="String">
                <value />
            </setting>
            <setting name="LootfilterLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LootfilterActive" serializeAs="String">
                <value>False</value>
            </setting>
        </EnhancePoE.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>