<?xml version="1.0" encoding="UTF-8"?>

<?define ProductVersion = "1.6.1.0"?>
<?define UpgradeCode = "7524ed46-e953-4ee0-a9cb-399a81b1f3ce"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
>
	<?define ChaosRecipeEnhancer_TargetDir=$(var.ChaosRecipeEnhancer.UI.TargetDir)?>
	<?define ChaosRecipeEnhancer_ProjectDir=$(var.ChaosRecipeEnhancer.UI.ProjectDir)?>

	<Product Id="*" Name="ChaosRecipeEnhancer" Language="1033" Version="$(var.ProductVersion)" Manufacturer="CRETeam"
             UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
		
		<MajorUpgrade
				AllowSameVersionUpgrades="yes"
				Schedule="afterInstallInitialize"
				DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		
		<MediaTemplate EmbedCab="yes"/>
		<!-- We can't do 4.8 check because Wix is garbage -->
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)StandardLicense.rtf"/>
		<UIRef Id="WixUI_InstallDir"/>

		<!-- Check for .NET Framework Installed -->
		<!-- REF: https://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/check_for_dotnet.html -->
		<Condition
                Message="This application requires the.NET Framework Runtime. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
		</Condition>

		<!-- Add Installer Icon -->
		<Icon Id="coin.ico" SourceFile="$(var.ChaosRecipeEnhancer_ProjectDir)Assets\Icons\coin.ico"/>
		<Property Id="ARPPRODUCTICON" Value="coin.ico"/>

		<!-- Step 3: Direct WiX on Which Components to Install -->
		<Feature Id="ProductFeature" Title="ChaosRecipeEnhancer" Level="1">

			<ComponentGroupRef Id="FirstPartyProductComponents"/>
			<ComponentGroupRef Id="ThirdPartyDependencies"/>

			<ComponentGroupRef Id="SoundsFolder_files"/>
			<ComponentGroupRef Id="StylesFolder_files"/>

			<ComponentRef Id="app.publish.ChaosRecipeEnhancer.exe"/>

			<!-- Localization -->
			<ComponentRef Id="cs_CZ.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="de.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="es.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="fr.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="hu.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="it.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="ja_JP.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="pt_BR.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="ro.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="ru.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="sv.Xceed.Wpf.AvalonDock.resources.dll"/>
			<ComponentRef Id="zh_Hans.Xceed.Wpf.AvalonDock.resources.dll"/>

			<ComponentRef Id="ApplicationShortcut"/>
			<ComponentRef Id="ApplicationShortcutDesktop"/>

		</Feature>
	</Product>

	<!-- Step 1: Define Directories -->
	<Fragment>

		<Directory Id="TARGETDIR" Name="SourceDir">

			<Directory Id="ProgramFilesFolder">

				<Directory Id="INSTALLFOLDER" Name="ChaosRecipeEnhancer">

					<Directory Id="Assets" Name="Assets">
						<Directory Id="SoundsFolder" Name="Sounds"/>
						<Directory Id="StylesFolder" Name="FilterStyles"/>
					</Directory>

					<Directory Id="AppPublishFolder" Name="app.publish"/>

					<!-- Localization -->
					<Directory Id="CzechDirectory" Name="cs-CZ"/>
					<Directory Id="GermanDirectory" Name="de"/>
					<Directory Id="SpanishDirectory" Name="es"/>
					<Directory Id="FrenchDirectory" Name="fr"/>
					<Directory Id="HungarianDirectory" Name="hu"/>
					<Directory Id="ItalianDirectory" Name="it"/>
					<Directory Id="JapaneseDirectory" Name="ja-JP"/>
					<Directory Id="PortugueseDirectory" Name="pt-BR"/>
					<Directory Id="RomanianDirectory" Name="ro"/>
					<Directory Id="RussianDirectory" Name="ru"/>
					<Directory Id="SwedishDirectory" Name="sv"/>
					<Directory Id="MandarinChineseDirectory" Name="zh-Hans"/>

				</Directory>

			</Directory>

			<Directory Id="ProgramMenuFolder">

				<Directory Id="ApplicationProgramsFolder" Name="ChaosRecipeEnhancer"/>

			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop"/>

		</Directory>

	</Fragment>

	<!-- Step 2: Define Windows Shortcuts / Program References -->
	<Fragment>

		<!-- Start Menu Shortcut Gets Created -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="1e4fafd1-872a-42b9-a479-8b46e988ae09">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="ChaosRecipeEnhancer" Description="ChaosRecipeEnhancer"
                          Target="[INSTALLFOLDER]ChaosRecipeEnhancer.exe" WorkingDirectory="INSTALLFOLDER"
                          Icon="coin.ico"/>
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder"
                              On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ChaosRecipeEnhancer" Name="installed" Type="integer" Value="1"
                               KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<!-- Desktop Shortcut Gets Created -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="5686ed96-73f7-4aad-8742-a40f2e247bf6">
				<Shortcut Id="ApplicationDesktopShortcut" Name="ChaosRecipeEnhancer" Description="ChaosRecipeEnhancer"
                          Target="[INSTALLFOLDER]ChaosRecipeEnhancer.exe" WorkingDirectory="INSTALLFOLDER"
                          Icon="coin.ico"/>
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ChaosRecipeEnhancer" Name="installed" Type="integer" Value="1"
                               KeyPath="yes"/>
			</Component>
		</DirectoryRef>

	</Fragment>

	<!-- Step 3: Add Required Files To Package Directory -->
	<Fragment>

		<!--1st Party Dependencies (DLLs and related files) -->
		<ComponentGroup Id="FirstPartyProductComponents" Directory="INSTALLFOLDER">

			<Component Id="ChaosRecipeEnhancer.App.dll" Guid="{F9A931A5-E538-4E5B-BB2F-9EE4A8B076F5}">
				<File Id="ChaosRecipeEnhancer.App.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)ChaosRecipeEnhancer.App.dll"/>
			</Component>

			<Component Id="ChaosRecipeEnhancer.application" Guid="{3AA4DC58-B9FA-43D1-B4FC-8F8C0BD771C8}">
				<File Id="ChaosRecipeEnhancer.application" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)ChaosRecipeEnhancer.application"/>
			</Component>

			<Component Id="ChaosRecipeEnhancer.DataModels.dll" Guid="{0193B726-74F2-4913-9813-8542DDE2F38C}">
				<File Id="ChaosRecipeEnhancer.DataModels.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)ChaosRecipeEnhancer.DataModels.dll"/>
			</Component>

			<Component Id="ChaosRecipeEnhancer.exe" Guid="{556320E0-FC9A-4E38-88AC-150BA97EFC21}">
				<File Id="ChaosRecipeEnhancer.exe" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)ChaosRecipeEnhancer.exe"/>
			</Component>

			<Component Id="ChaosRecipeEnhancer.exe.config" Guid="{E6EF01C6-FCEF-4DDF-A5BF-A4C2019CEFC4}">
				<File Id="ChaosRecipeEnhancer.exe.config" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)ChaosRecipeEnhancer.exe.config"/>
			</Component>

			<Component Id="ChaosRecipeEnhancer.exe.manifest" Guid="{D1C2E6D7-5120-45A1-8C30-B95586B8BC9C}">
				<File Id="ChaosRecipeEnhancer.exe.manifest" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)ChaosRecipeEnhancer.exe.manifest"/>
			</Component>

		</ComponentGroup>

		<!--3rd Party Dependencies (DLLs) -->
		<ComponentGroup Id="ThirdPartyDependencies" Directory="INSTALLFOLDER">

			<Component Id="Autofac.dll" Guid="{FC02761E-2CE3-4807-8C76-BF8945727F34}">
				<File Id="Autofac.dll" KeyPath="yes" Source="$(var.ChaosRecipeEnhancer_TargetDir)Autofac.dll"/>
			</Component>

			<Component Id="AutofacSerilogIntegration.dll" Guid="{3FE05E96-EA27-4B6D-9D53-CF73172E9208}">
				<File Id="AutofacSerilogIntegration.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)AutofacSerilogIntegration.dll"/>
			</Component>

			<Component Id="AutoUpdater.NET.dll" Guid="{C1CBDC38-D505-43E7-893E-C9523937F275}">
				<File Id="AutoUpdater.NET.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)AutoUpdater.NET.dll"/>
			</Component>

			<Component Id="Ben.Demystifier.dll" Guid="{363FBC7F-6F4E-417E-B617-A0108AC3C2D2}">
				<File Id="Ben.Demystifier.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Ben.Demystifier.dll"/>
			</Component>

			<Component Id="HtmlAgilityPack.dll" Guid="{339A7F27-05A2-4EB7-83CD-A289007655CD}">
				<File Id="HtmlAgilityPack.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)HtmlAgilityPack.dll"/>
			</Component>

			<Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="{8A8094DF-FC5C-4167-BF2E-E04919594566}">
				<File Id="Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Bcl.AsyncInterfaces.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Configuration.Abstractions.dll"
                       Guid="{3545D1E1-9FA9-4E81-83A2-D2A8666C3330}">
				<File Id="Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Configuration.Binder.dll" Guid="{FA5FFDAD-9755-4FC7-BB14-81E2E4B6BA93}">
				<File Id="Microsoft.Extensions.Configuration.Binder.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Configuration.Binder.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Configuration.dll" Guid="{E954BB97-E68A-4C02-861A-7BF823F79F8D}">
				<File Id="Microsoft.Extensions.Configuration.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Configuration.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll"
                       Guid="{10FB73E5-9B47-492E-9FA9-FF24BA517D53}">
				<File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="{BB0650AF-EAC2-4DDE-9668-0C33F56AAF0A}">
				<File Id="Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.DependencyInjection.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="{5CBE7714-86FC-4A75-B1B9-FAF71AD768AB}">
				<File Id="Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Logging.Configuration.dll"
                       Guid="{14324FBD-8F2F-4179-9FE3-0B463410CEEB}">
				<File Id="Microsoft.Extensions.Logging.Configuration.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Logging.Configuration.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Logging.Console.dll" Guid="{207C3BD6-0E22-4DE4-B461-644693E1E360}">
				<File Id="Microsoft.Extensions.Logging.Console.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Logging.Console.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Logging.Debug.dll" Guid="{7A15B700-A5A1-4A4E-98C4-45DAE3934EF1}">
				<File Id="Microsoft.Extensions.Logging.Debug.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Logging.Debug.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Logging.dll" Guid="{1A4A84F3-A6A2-44EE-A9AD-15278D77BF4F}">
				<File Id="Microsoft.Extensions.Logging.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Logging.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll"
                       Guid="{AF9A5131-4883-459B-A301-D46204D67714}">
				<File Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Options.dll" Guid="{56A06EAD-497A-4459-87EF-6D70F2B625F6}">
				<File Id="Microsoft.Extensions.Options.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Options.dll"/>
			</Component>

			<Component Id="Microsoft.Extensions.Primitives.dll" Guid="{BD42F946-DA09-4337-B5D9-DA400E4D65D9}">
				<File Id="Microsoft.Extensions.Primitives.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Extensions.Primitives.dll"/>
			</Component>

			<Component Id="Microsoft.Web.WebView2.Core.dll" Guid="{3c0e3c90-e726-4859-9796-53f0c1717e91}">
				<File Id="Microsoft.Web.WebView2.Core.dll" KeyPath="yes"
		              Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Web.WebView2.Core.dll"/>
			</Component>

			<Component Id="Microsoft.Web.WebView2.WinForms.dll" Guid="{6ddff8e4-ea60-4e4f-a445-257866cc7fb1}">
				<File Id="Microsoft.Web.WebView2.WinForms.dll" KeyPath="yes"
		              Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Web.WebView2.WinForms.dll"/>
			</Component>

			<Component Id="Microsoft.Web.WebView2.Wpf.dll" Guid="{61c4e458-b81b-4fd1-b431-f0754c15f444}">
				<File Id="Microsoft.Web.WebView2.Wpf.dll" KeyPath="yes"
		              Source="$(var.ChaosRecipeEnhancer_TargetDir)Microsoft.Web.WebView2.Wpf.dll"/>
			</Component>

			<Component Id="Newtonsoft.Json.dll" Guid="{64DBDD41-0BE4-4FD2-AF11-B8CF15F0C8DB}">
				<File Id="Newtonsoft.Json.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Newtonsoft.Json.dll"/>
			</Component>

			<Component Id="PresentationCore.dll" Guid="{0BDDD86A-DB71-4573-B716-204199ED9775}">
				<File Id="PresentationCore.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)PresentationCore.dll"/>
			</Component>

			<Component Id="Serilog.dll" Guid="{43F1E03A-19BC-4606-95C5-46CDCCC9DC50}">
				<File Id="Serilog.dll" KeyPath="yes" Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.dll"/>
			</Component>

			<Component Id="Serilog.Enrichers.Context.dll" Guid="{F662B332-F62B-40FF-AE65-10C9A44D8913}">
				<File Id="Serilog.Enrichers.Context.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Enrichers.Context.dll"/>
			</Component>

			<Component Id="Serilog.Enrichers.Environment.dll" Guid="{2C854F55-11A0-4149-887D-508DD566C25B}">
				<File Id="Serilog.Enrichers.Environment.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Enrichers.Environment.dll"/>
			</Component>

			<Component Id="Serilog.Enrichers.Thread.dll" Guid="{6EAD149F-D8A6-4408-8720-C10E4EFE16A7}">
				<File Id="Serilog.Enrichers.Thread.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Enrichers.Thread.dll"/>
			</Component>

			<Component Id="Serilog.Exceptions.dll" Guid="{1EDD1178-D785-4CF7-8D80-0AE9E9732CDC}">
				<File Id="Serilog.Exceptions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Exceptions.dll"/>
			</Component>

			<Component Id="Serilog.Sinks.Console.dll" Guid="{2C7842B5-792C-40E2-8517-077AD80DE2F5}">
				<File Id="Serilog.Sinks.Console.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Sinks.Console.dll"/>
			</Component>

			<Component Id="Serilog.Sinks.Debug.dll" Guid="{662FB6BC-5D3A-47C3-B604-A6B799FFCF75}">
				<File Id="Serilog.Sinks.Debug.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Sinks.Debug.dll"/>
			</Component>

			<Component Id="Serilog.Sinks.File.dll" Guid="{E700F982-9CC1-42FA-B302-6FC40B7CB2FC}">
				<File Id="Serilog.Sinks.File.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Sinks.File.dll"/>
			</Component>

			<Component Id="Serilog.Sinks.Trace.dll" Guid="{A6327E7E-C9D2-46FA-8FC2-FA354118928B}">
				<File Id="Serilog.Sinks.Trace.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Serilog.Sinks.Trace.dll"/>
			</Component>

			<Component Id="System.Buffers.dll" Guid="{24FFABCE-5FF6-49C3-9CAC-43CCC3DCF2C9}">
				<File Id="System.Buffers.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Buffers.dll"/>
			</Component>

			<Component Id="System.Collections.Immutable.dll" Guid="{53DD4C4F-7F67-4B39-B30D-1448C02B264D}">
				<File Id="System.Collections.Immutable.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Collections.Immutable.dll"/>
			</Component>

			<Component Id="System.Data.DataSetExtensions.dll" Guid="{DBC53135-FFAB-4968-A020-1AF12F5178A5}">
				<File Id="System.Data.DataSetExtensions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Data.DataSetExtensions.dll"/>
			</Component>

			<Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="{8BB60809-6216-4E20-BF39-6600447E0945}">
				<File Id="System.Diagnostics.DiagnosticSource.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Diagnostics.DiagnosticSource.dll"/>
			</Component>

			<Component Id="System.Memory.dll" Guid="{F2EE6CF5-F91A-4C18-8770-864604C9DE56}">
				<File Id="System.Memory.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Memory.dll"/>
			</Component>

			<Component Id="System.Numerics.Vectors.dll" Guid="{506AAAE9-5012-4284-817A-5BB371AE96E6}">
				<File Id="System.Numerics.Vectors.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Numerics.Vectors.dll"/>
			</Component>

			<Component Id="System.Reflection.Metadata.dll" Guid="{4D073898-FC3C-438A-9251-C667CB812F72}">
				<File Id="System.Reflection.Metadata.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Reflection.Metadata.dll"/>
			</Component>

			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="{5D683684-AAF3-4FE6-BC9C-9B93CE3B393B}">
				<File Id="System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Runtime.CompilerServices.Unsafe.dll"/>
			</Component>

			<Component Id="System.Text.Encodings.Web.dll" Guid="{9864F1DD-623B-4771-835E-3E02ADDA2B6F}">
				<File Id="System.Text.Encodings.Web.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Text.Encodings.Web.dll"/>
			</Component>

			<Component Id="System.Text.Json.dll" Guid="{7A4E59DB-6BBA-414C-83A3-0ACE97D5B739}">
				<File Id="System.Text.Json.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Text.Json.dll"/>
			</Component>

			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="{3ADCE26C-D20A-4E37-AEB5-9A9013E360A6}">
				<File Id="System.Threading.Tasks.Extensions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Threading.Tasks.Extensions.dll"/>
			</Component>

			<Component Id="System.ValueTuple.dll" Guid="{AABCBDC7-1E7C-41D7-AAE6-DC41EA83B98D}">
				<File Id="System.ValueTuple.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.ValueTuple.dll"/>
			</Component>

			<Component Id="System.Web.Extensions.dll" Guid="{35FA5083-B944-4AB5-B5A0-98447BB0F6FA}">
				<File Id="System.Web.Extensions.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Web.Extensions.dll"/>
			</Component>

			<Component Id="System.Xml.Linq.dll" Guid="{AF661DB8-3D4A-4EF9-A635-6046010CA0A2}">
				<File Id="System.Xml.Linq.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)System.Xml.Linq.dll"/>
			</Component>

			<Component Id="Xceed.Wpf.AvalonDock.dll" Guid="{5E9D9747-C634-4B2C-8B99-76EFA46D5707}">
				<File Id="Xceed.Wpf.AvalonDock.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Xceed.Wpf.AvalonDock.dll"/>
			</Component>

			<Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="{F686F8EC-CE83-4357-A708-DFCB4605C68D}">
				<File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll"/>
			</Component>

			<Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="{BB7A9FA3-FCC8-4486-AE2F-9776EF68B5F4}">
				<File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll"/>
			</Component>

			<Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="{AA4F499F-9BC3-494C-9D6F-09972D43CE37}">
				<File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll"/>
			</Component>

			<Component Id="Xceed.Wpf.Toolkit.dll" Guid="{B861A7FC-4A04-416D-B355-878611BFFE50}">
				<File Id="Xceed.Wpf.Toolkit.dll" KeyPath="yes"
                      Source="$(var.ChaosRecipeEnhancer_TargetDir)Xceed.Wpf.Toolkit.dll"/>
			</Component>

		</ComponentGroup>

	</Fragment>

	<Fragment>

		<!-- Sound Assets Get Added to Main Installation Folder -->
		<ComponentGroup Id="SoundsFolder_files" Directory="SoundsFolder">
			<Component Id="Sounds_itemsPickedUp.mp3" Guid="c2762fc6-e9fd-4928-a1fa-4b0aaaf17905">
				<File Id="Sounds_itemsPickedUp.mp3" Name="itemsPickedUp.mp3"
                      Source="$(var.ChaosRecipeEnhancer_ProjectDir)Assets\Sounds\itemsPickedUp.mp3"/>
			</Component>
			<Component Id="Sounds_filterchanged.mp3" Guid="a0ba0fba-5d38-4595-b44c-7beb03d1bbc8">
				<File Id="Sounds_filterchanged.mp3" Name="filterchanged.mp3"
                      Source="$(var.ChaosRecipeEnhancer_ProjectDir)Assets\Sounds\filterchanged.mp3"/>
			</Component>
		</ComponentGroup>

	</Fragment>

	<Fragment>

		<!-- Filter Style Assets Get Added to Main Installation Folder -->
		<ComponentGroup Id="StylesFolder_files" Directory="StylesFolder">
			<Component Id="Styles_InfluencedItemsStyle.txt" Guid="90bde904-697a-46e1-ac25-4ec221d7b904">
				<File Id="Styles_InfluencedItemsStyle.txt" Name="InfluencedItemsStyle.txt"
                      Source="$(var.ChaosRecipeEnhancer_ProjectDir)Assets\FilterStyles\InfluencedItemsStyle.txt"/>
			</Component>
			<Component Id="Styles_NormalItemsStyle.txt" Guid="dcb2bb51-1d14-4681-8601-d4f563d4fe19">
				<File Id="Styles_NormalItemsStyle.txt" Name="NormalItemsStyle.txt"
                      Source="$(var.ChaosRecipeEnhancer_ProjectDir)Assets\FilterStyles\NormalItemsStyle.txt"/>
			</Component>
		</ComponentGroup>

	</Fragment>

	<!-- TODO: [Verify] Do I even need to include this?-->
	<Fragment>

		<!-- App.Publish Folder -->
		<Component Id="app.publish.ChaosRecipeEnhancer.exe" Directory="AppPublishFolder" Guid="">
			<File Id="app.publish.ChaosRecipeEnhancer.exe" Name="ChaosRecipeEnhancer.exe"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)app.publish\ChaosRecipeEnhancer.exe"/>
		</Component>

	</Fragment>

	<Fragment>

		<!-- Localized 3rd Party Dependencies (DLLs) -->

		<Component Id="cs_CZ.Xceed.Wpf.AvalonDock.resources.dll" Directory="CzechDirectory"
                   Guid="7e9b5aa4-90b2-4fcd-a31a-f7cf22ba8e41">
			<File Id="cs_CZ.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)cs-CZ\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="de.Xceed.Wpf.AvalonDock.resources.dll" Directory="GermanDirectory"
                   Guid="3d4299c6-7d68-4fb1-9daa-be2ce2a3b285">
			<File Id="de.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)de\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="es.Xceed.Wpf.AvalonDock.resources.dll" Directory="SpanishDirectory"
                   Guid="0fc969bc-efda-46d2-9ab3-f3691832b29d">
			<File Id="es.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)es\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="fr.Xceed.Wpf.AvalonDock.resources.dll" Directory="FrenchDirectory"
                   Guid="9979cda5-97f1-4363-92c6-92b507853cc0">
			<File Id="fr.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)fr\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="hu.Xceed.Wpf.AvalonDock.resources.dll" Directory="HungarianDirectory"
                   Guid="f3200b10-4d80-4c59-854a-99993fdd28a0">
			<File Id="hu.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)hu\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="it.Xceed.Wpf.AvalonDock.resources.dll" Directory="ItalianDirectory"
                   Guid="db12b4c2-e1ea-48cf-b9a5-2ba9e9009b04">
			<File Id="it.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)it\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="ja_JP.Xceed.Wpf.AvalonDock.resources.dll" Directory="JapaneseDirectory"
                   Guid="8c9a8644-d340-4607-884f-87e7dac30ed2">
			<File Id="ja_JP.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)ja-JP\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="pt_BR.Xceed.Wpf.AvalonDock.resources.dll" Directory="PortugueseDirectory"
                   Guid="02c9fb3d-4789-4e50-afb7-db0b0e87d091">
			<File Id="pt_BR.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)pt-BR\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="ro.Xceed.Wpf.AvalonDock.resources.dll" Directory="RomanianDirectory"
                   Guid="344c357b-38ae-4582-91af-971ad736924a">
			<File Id="ro.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)ro\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="ru.Xceed.Wpf.AvalonDock.resources.dll" Directory="RussianDirectory"
                   Guid="3dcd983d-f249-48e6-b80a-7d86f9f3fa60">
			<File Id="ru.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)ru\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="sv.Xceed.Wpf.AvalonDock.resources.dll" Directory="SwedishDirectory"
                   Guid="63c6f5f9-2ca8-4029-91ab-27fc4ed26889">
			<File Id="sv.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)sv\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

		<Component Id="zh_Hans.Xceed.Wpf.AvalonDock.resources.dll" Directory="MandarinChineseDirectory"
                   Guid="2c88cb03-964d-48c9-9df3-eec6833d7a05">
			<File Id="zh_Hans.Xceed.Wpf.AvalonDock.resources.dll" Name="Xceed.Wpf.AvalonDock.resources.dll"
                  Source="$(var.ChaosRecipeEnhancer_TargetDir)zh-Hans\Xceed.Wpf.AvalonDock.resources.dll"/>
		</Component>

	</Fragment>

</Wix>
