<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChaosRecipeEnhancer.UI.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="SendKeys" value="SendInput" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <userSettings>
        <ChaosRecipeEnhancer.UI.Properties.Settings>
            <setting name="PathOfExileAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="PoEAccountConnectionStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChaosRecipeTrackingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeIdentifiedItemsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullSetThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LeagueName" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="CustomLeagueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StashTabQueryMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabIndices" serializeAs="String">
                <value />
            </setting>
            <setting name="StashTabPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoFetchOnRezoneEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathOfExileClientLogLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SetTrackerOverlayItemCounterDisplayMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SetTrackerOverlayDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetTrackerOverlayOverlayLockPositionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StashTabOverlayOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StashTabOverlayBackgroundColor" serializeAs="String">
                <value>#14FFFFFF</value>
            </setting>
            <setting name="StashTabOverlayHighlightColor" serializeAs="String">
                <value>#96F90000</value>
            </setting>
            <setting name="StashTabOverlayHighlightMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayIndividualTabMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayIndividualTabHeaderPadding" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="StashTabOverlayIndividualTabHeaderGap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterManipulationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LootFilterIconsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterRingColor" serializeAs="String">
                <value>#FFFF0303</value>
            </setting>
            <setting name="LootFilterAmuletColor" serializeAs="String">
                <value>#FFFF0303</value>
            </setting>
            <setting name="LootFilterBeltColor" serializeAs="String">
                <value>#FFFF0303</value>
            </setting>
            <setting name="LootFilterBootsColor" serializeAs="String">
                <value>#FF0018FF</value>
            </setting>
            <setting name="LootFilterGlovesColor" serializeAs="String">
                <value>#FF04FF00</value>
            </setting>
            <setting name="LootFilterHelmetColor" serializeAs="String">
                <value>#FFF8FF04</value>
            </setting>
            <setting name="LootFilterBodyArmourColor" serializeAs="String">
                <value>#FFDD00FF</value>
            </setting>
            <setting name="LootFilterWeaponColor" serializeAs="String">
                <value>#FF00DCFF</value>
            </setting>
            <setting name="LootFilterRingsAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterAmuletsAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterBeltsAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterBootsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterGlovesAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterHelmetsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterBodyArmourAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterWeaponsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotPreserveLowItemLevelGear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseToTrayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsWindowTopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsWindowLeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetTrackerOverlayTopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetTrackerOverlayLeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayTopPosition" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="StashTabOverlayLeftPosition" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="StashTabOverlayHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="StashTabOverlayWidth" serializeAs="String">
                <value>641</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeSettingsAfterUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathOfExileApiAuthTokenExpiration" serializeAs="String">
                <value />
            </setting>
            <setting name="PathOfExileApiAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="VendorSetsEarly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FetchStashHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="ToggleSetTrackerOverlayHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="ToggleStashTabOverlayHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="SettingsWindowNavIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabPrefixIndices" serializeAs="String">
                <value />
            </setting>
            <setting name="ReloadFilterHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
        </ChaosRecipeEnhancer.UI.Properties.Settings>
    </userSettings>
</configuration>