<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChaosRecipeEnhancer.UI.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="SendKeys" value="SendInput" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <userSettings>
        <ChaosRecipeEnhancer.UI.Properties.Settings>
            <setting name="PathOfExileAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="PoEAccountConnectionStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChaosRecipeTrackingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeIdentifiedItemsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullSetThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LeagueName" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="StashTabQueryMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoFetchOnRezoneEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathOfExileClientLogLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SetTrackerOverlayItemCounterDisplayMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SetTrackerOverlayDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetTrackerOverlayOverlayLockPositionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StashTabOverlayOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StashTabOverlayBackgroundColor" serializeAs="String">
                <value>#14FFFFFF</value>
            </setting>
            <setting name="StashTabOverlayHighlightColor" serializeAs="String">
                <value>#96F90000</value>
            </setting>
            <setting name="StashTabOverlayHighlightMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayIndividualTabMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayIndividualTabHeaderPadding" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="StashTabOverlayIndividualTabHeaderGap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterManipulationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNotPreserveLowItemLevelGear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseToTrayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsWindowTopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsWindowLeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetTrackerOverlayTopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetTrackerOverlayLeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayTopPosition" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="StashTabOverlayLeftPosition" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="StashTabOverlayHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="StashTabOverlayWidth" serializeAs="String">
                <value>641</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeSettingsAfterUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathOfExileApiAuthTokenExpiration" serializeAs="String">
                <value />
            </setting>
            <setting name="PathOfExileApiAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="VendorSetsEarly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FetchStashHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="ToggleSetTrackerOverlayHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="ToggleStashTabOverlayHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="SettingsWindowNavIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReloadFilterHotkey" serializeAs="String">
                <value>&lt; not set &gt;</value>
            </setting>
            <setting name="SilenceNeedItemsMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SilenceSetsFullMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathOfExileClientLogLocationMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundLevel" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="StashTabIdentifiers" serializeAs="String">
                <value />
            </setting>
            <setting name="StashTabOverlayTabDefaultBackgroundColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="StashTabOverlayTabGroupBottomMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashTabOverlayTabOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RateLimitExpiresOn" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLeagueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LegacyAuthMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LegacyAuthAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="LegacyAuthSessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="GuildStashMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideRemoveOnlyTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterSpaceSavingHideLargeWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterSpaceSavingHideOffHand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesRingTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesRingBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesRingBackgroundColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LootFilterStylesRingAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesRingAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesRingMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesRingMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesRingMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesRingMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesRingBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesRingBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesRingBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesRingTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesRingTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesRingBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesRingBackgroundColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesAmuletTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesAmuletBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesAmuletBackgroundColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LootFilterStylesAmuletAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesAmuletAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesAmuletMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesAmuletMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesAmuletMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesAmuletMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesAmuletBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesAmuletBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesAmuletBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesAmuletTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesAmuletTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesAmuletBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesAmuletBackgroundColorEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBeltTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesBeltBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesBeltBackgroundColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LootFilterStylesBeltAlwaysActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBeltAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBeltMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBeltMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesBeltMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesBeltMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesBeltBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBeltBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBeltBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesBeltTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesBeltTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBeltBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBeltBackgroundColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBootsTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesBootsBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesBootsBackgroundColor" serializeAs="String">
                <value>#FF0018FF</value>
            </setting>
            <setting name="LootFilterStylesBootsAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBootsAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBootsMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBootsMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesBootsMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesBootsMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesBootsBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBootsBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBootsBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesBootsTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesBootsTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBootsBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBootsBackgroundColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesGlovesTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesGlovesBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesGlovesBackgroundColor" serializeAs="String">
                <value>#FF1ABD17</value>
            </setting>
            <setting name="LootFilterStylesGlovesAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesGlovesAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesGlovesMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesGlovesMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesGlovesMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesGlovesMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesGlovesBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesGlovesBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesGlovesBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesGlovesTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesGlovesTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesGlovesBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesGlovesBackgroundColorEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesHelmetTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesHelmetBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesHelmetBackgroundColor" serializeAs="String">
                <value>#FFFFBC00</value>
            </setting>
            <setting name="LootFilterStylesHelmetAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesHelmetAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesHelmetMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesHelmetMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesHelmetMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesHelmetMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesHelmetBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesHelmetBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesHelmetBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesHelmetTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesHelmetTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesHelmetBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesHelmetBackgroundColorEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBackgroundColor" serializeAs="String">
                <value>#FFDD00FF</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBorderColorEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesBodyArmourBackgroundColorEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesWeaponTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesWeaponBorderColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LootFilterStylesWeaponBackgroundColor" serializeAs="String">
                <value>#FF00B8D5</value>
            </setting>
            <setting name="LootFilterStylesWeaponAlwaysActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesWeaponAlwaysDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesWeaponMapIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesWeaponMapIconColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesWeaponMapIconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesWeaponMapIconShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LootFilterStylesWeaponBeamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesWeaponBeamTemporary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootFilterStylesWeaponBeamColor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LootFilterStylesWeaponTextFontSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LootFilterStylesWeaponTextColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesWeaponBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LootFilterStylesWeaponBackgroundColorEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
        </ChaosRecipeEnhancer.UI.Properties.Settings>
    </userSettings>
</configuration>